body {
    margin: 0;
    font-family: "Gloria Hallelujah", cursive;
    font-size: 16px;
    line-height: 1.8;
    /* background-image: url('./pape/'); */
  }
  main {
    padding: 16px;
    text-align: center;
  }
  .my-img{
    width:60%;
    height:auto;
    border-radius: 50%;
    border: 2px solid black;
  }
  wired-card {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    display: block;
    height:80vh;
    
  }

  
  .meta-img{
    max-width:100%;
  max-height:100%;
  }
  .pro-card{
    height:40vh;
    margin-top: 40px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease;
  }
  

  .pro-card:hover{
    /* display: block; */
    background: rgba(0, 0, 0, .3);
  }
  .button {
    position: absolute;
    /* width: 100%; */
    left:50%;
    top: 50%;
    background-color: white;
    transform: translate(-50%,-50%);
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
  }
  
  
  
  .pro-card:hover .button {
    opacity: 1;
  }
  
  .card-disp{
    display: fle;
  }
  .edu{
    max-width: 80%;
  }
  .edu h1{
    color:red;
  }


  .hero{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .hero p{
    font-size: 20px;
  }
  .hero .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  section {
    max-width: 400px;
    margin: 0 auto;
    padding: 60px 0;
  }
  wired-button {
    background: yellow;
    color: red;
    margin: 8px;
  }
  wired-input {
    width: 200px;
    font-family: inherit;
  }
  