body {
    margin: 0;
    font-family: "Gloria Hallelujah", cursive;
    font-size: 16px;
    line-height: 1.8;
    /* color:white; */
    /* background-color: black; */
    /* overflow: hidden; */
    /* background-image: url('./pape/'); */
}
  main {
    padding: 16px;
    text-align: center;
  }

  canvas {
    display: block;
    /* vertical-align: bottom; */
  }
  
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: $background */
  }
  
  .my-img{
    width:60%;
    height:auto;
    border-radius: 50%;
    border: 2px solid black;
  }
  .hero {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    /* display: block; */
    height:80vh;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  
  .meta-img{
    max-width:100%;
  max-height:100%;
  }
  .pro-card{
    height:40vh;
    margin-top: 40px;
    /* margin-left: 0px; */
    padding: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease;
  }
  

  .pro-card:hover{
    /* display: block; */
    background: rgba(0, 0, 0, .3);
  }
  .button {
    position: absolute;
    /* width: 100%; */
    left:50%;
    top: 50%;
    background-color: white;
    transform: translate(-50%,-50%);
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
  }
  
  
  
  .pro-card:hover .button {
    opacity: 1;
  }
  
  .card-disp{
    display: fle;
  }
  .edu{
    max-width: 80%;
  }
  .edu h1{
    color:red;
  }

  .proj{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  
  .hero p{
    font-size: 20px;
  }

  .hero h1 span{
    color:blue;
  }
  .hero .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  section {
    max-width: 400px;
    margin: 0 auto;
    padding: 60px 0;
  }
  wired-button {
    background: yellow;
    color: red;
    margin: 8px;
  }
  wired-input {
    width: 200px;
    font-family: inherit;
  }

  .line-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: right;
    overflow: hidden;
  }
  svg{
    display: inline-block;
    height: 100%;
  }

  .pp-card{
    height:20vh;
    margin-top: 40px;
    margin-left: 0px;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease;
  }
  
  
  .pp-card span{
    color: green;
  }

  .pp-card h3{
    color:blue;
  }

  .pp-card a{
    text-decoration: none;
    color: black;
  }

  .pp-card a:hover{
    color: red;
  }
  .cont{
    display: flex;
    justify-content: space-around;
    /* text-align: center; */
    align-items: center;
  }
  /* .cont a{
    text-decoration: none;
    color: green;
    cursor: pointer;
  } */
  
  .cont wired-link{
    --wired-link-decoration-color:white;
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-cd-"] {
      width: 100%;
    }

    .hero{
      max-width: 95%;
      height:60vh;
    }

    svg path {
      stroke-width: 3;
    }
    #particles-js{
      display: none;
    }
    
  }

